<div class="d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
    <div class="d-flex flex-justify-between flex-items-start">
      <a target="_blank" href="{{ book.web_url   }}">
        <img
        src="{{ book.image_url }}"
        width="200"
        height="246.923"
        class="rounded-1"
        alt="{{ book.login }}"
      />
      <div class="ml-3">
        <h1 class="f2 mb-1 mt-1">
            {{ book.name }}
          </a>
        </h1>
        <div class="text-gray mb-2 ws-normal">{{ book.description }}</div>
        <a target="_blank" href="https://packt.link/DvIDB"> Order it right now on Amazon!</a>
      </div>
  
  </div>
</div>
