<!-- <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Contributions</h2> -->
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-3">
  <!-- <div
    class="d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3"
  > -->
  <div
    class="mb-md-0 d-flex flex-justify-center flex-justify-between text-center"
  >
    <img
      src="https://ghchart.rshah.org/046ce2/fox1t"
      alt="fox1t's Github chart"
      style="width: 100%;height: 100%;"
    />
  </div>
  <!-- </div> -->
</div>
